BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN_HERE
ADMIN_CHAT_ID=123456789
GMAIL_USER=shakirovrust66@gmail.com
GMAIL_APP_PASSWORD=PASTE_GOOGLE_APP_PASSWORD_HERE
GMAIL_TO=shakirovrust66@gmail.com
ALLOWED_ORIGINS=https://doctorgulnaz.ru,https://www.doctorgulnaz.ru
